Demonstrate a simple http get scenario of partial encrypted json data. The server send a json object that contains
some encrypted field data. The encrypted field names ends with _enc that tells the angularjs-crypto library to decode it automaticly. 

<h3>Received from Server<3>
<div class="encrypted" ng-repeat="item in received.items">
	<div id="name">{{item.name_enc}}</div>
	<div id="value">{{item.value_enc}}</div>
	<div id="plain">{{item.plain}}</div>
</div>

<h3>Json received  from Server</h3>
<div id="plain" hljs source="receivedstr"></div>

The json data will be decrypted on the client side by the angularjs-crypto library.

<h3>Client Side decrypted Data</h3>

<div class="decrypted" ng-repeat="item in data.items">
	<div id="name">{{item.name_enc}}</div>
	<div id="value">{{item.value_enc}}</div>
	<div id="plain">{{item.plain}}</div>
</div>

<h3>Json decrypted</h3>
<div id="plain">
	<div hljs source="datastr"></div>
</div>
