<h3>Received from Server</h3>
<div class="encrypted" ng-repeat="item in received.items">
	<div id="name">{{item.name_enc}}</div>
	<div id="value">{{item.value_enc}}</div>
	<div id="plain">{{item.plain}}</div>
</div>

<h3>Json</h3>
<div id="plain">{{received}}</div>

<h3>Client Data</h3>

<div class="decrypted" ng-repeat="item in data.items">
	<div id="name">{{item.name_enc}}</div>
	<div id="value">{{item.value_enc}}</div>
	<div id="plain">{{item.plain}}</div>
</div>
<h3>Json</h3>
<div id="plain">
	<div hljs source="data"></div>
</div>
